@import "tailwindcss";
@plugin "../hero.ts";
@source "../../../node_modules/@heroui/theme/dist/**/*.{js,mjs}";
@custom-variant dark (&:is(.dark *));

html,
body,
#root {
  min-height: 100%;
}

body {
  color-scheme: light;
  background: #f4f7fa;
}
